.box-content {
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 16px;
    width: 100%;
    padding: 3%;
}

.login-form-button {
    display: flex;
    justify-content: flex-end;
}

.login-submit {
    background-color: #7695EC;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    height: 3vh;
    width: 6vw;
    cursor: pointer;
}

.login-submit:disabled {
    background-color: gray;
    cursor: auto;
}