.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-modal {
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 16px;
}

.edit-titulo {
    font-weight: 700;
    font-size: 22px;
}

.edit-sub-titulo {
    font-weight: 400;
    font-size: 16px;
}