.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-modal {
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 16px;
    width: 28em;
    height: 6em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1em;
}

.delete-titulo {
    font-weight: 700;
    font-size: 22px;
}

.delete-form-button {
    display: flex;
    justify-content: flex-end;
}

.button-cancel {
    border: 1px solid #000000;
    border-radius: 8px;
    height: 4vh;
    width: 6vw;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    margin: 0 1em;
}

.button-delete {
    background-color: #FF5151;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    height: 4vh;
    width: 6vw;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}